<section id="about">
	<div class="about-container">
		<div class="bold-text">
			<h1>The <strong>best</strong> source for <span>retreats</span></h1>
			<hr>
		</div>
		<div class="about-text">
			<div class="upper-text">
				<h3>100% satisfaction gaurenteed on every transaction or your money back!</h3>
				<p>With over 25 years of experience as one of the top reservation sites for beach retreats globally, we have all of the knowledge and expertise you will need to make the process of booking your dream vacation as easy as possible.</p>
			</div>
			<div class="lower-text">
				<ul>
					<li><span></span>Over a dozen awards for best customer service for an online booking site</li>
					<li><span></span>Over 3 million satisfied customers yearly.</li>
					<li><span></span>Featured on dozens of TV shows including Good Morning America.</li>
				</ul>
			</div>
		</div>
	</div>
	<h1 class="h1">Gallery</h1>
</section>