<section id="contact">
	<h1 class="h1">Beach Retreat Support</h1>
	<form action="" class="contact-form">
		<fieldset class='fieldset-top'>
			<legend>Basic Information</legend>
			<div class="error-msg">
				<p>Please enter a valid email address</p>
			</div>
			<div class='icon' id='icon1'>
				<i class="ion-ios-person-outline"></i>
				<label id='label1' for="" class='label-name'>Name</label>
				<input type="email" class="name-input">
				<span>*</span>
			</div>
			<div class='icon' id='icon2'>
				<i class="ion-ios-paper-outline"></i>
				<label id='label2' for="" class='label-comp'>Company</label>
				<input type="email" class="comp-input">
			</div>
			<div class='icon' id='icon3'>
				<i class="ion-ios-email-outline"></i>
				<label id='label3' for="" class='label-email'>Email</label>
				<input type="email" class="email-input">
				<span>*</span>
			</div>
		</fieldset>
		<fieldset>
			<legend>Project Information</legend>
			<div class='select-div'>
				<h4>Your Budget:</h4>
				<p class="select-icon">
					<i class="ion-clipboard"></i>
					<select>
						<option value="0">Select Budget</option>
						<option value="1">$100-$300</option>
						<option value="2">$300-$500</option>
						<option value="3">$500-$1000</option>
						<option value="3">$1000 or more</option>
					</select>
				</p>
			</div>
			<div class="icon textarea">
				<label for="form-textarea" class="form-label">Describe Your Project:</label>
				<textarea class='textarea' name="form-textarea" id="form-textarea" required></textarea>
				<div>
					<input type="submit" value='Send Message' class='submit-btn'>
				</div>
			</div>
		</fieldset>
	</form>
	<h3>Follow Us!</h3>
	<ul class='social'>
		<li><a class="hvr-sweep-to-top" href="">Twitter</a></li>
		<li><a class="hvr-sweep-to-top1" href="">Facebook</a></li>
	</ul>
</section>