<header id="top">
	<div class="call-us">
		<p>Call Now For More Info</p>
		<p><i class="ion-ios-telephone"></i>888.999.1111</p>
	</div>
	<div class="main-heading">
		<div class="logo"></div>
		<h1><span>B</span>each<span>R</span>etreat</h1>
		<p>Your Source for beach retreats around the world</p>
	</div>
	<div class="nav">
		<ul>
			<li><a href="#top">home</a></li>
			<li><a href="#about">about us</a></li>
			<li><a href="#gallery">gallery</a></li>
			<li><a href="#consultation">consultation</a></li>
			<li><a href="#testimonials">testimonials</a></li>
			<li><a href="#contact">contact us</a></li>
		</ul>
	</div>
	<div class="mobile-nav">
		<i class="ion-navicon-round"></i>
		<div class="dropdown">
			<ul>
				<li><a href="#top">home</a></li>
				<li><a href="#about">about us</a></li>
				<li><a href="#gallery">gallery</a></li>
				<li><a href="#consultation">consultation</a></li>
				<li><a href="#testimonials">testimonials</a></li>
				<li><a href="#contact">contact us</a></li>
			</ul>
		</div>
	</div>
	</div>
</header>